.topContainer img {
    width: 170px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.formContainer form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.formContainer h1 {
    font: 800 52px Open Sans;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 32px;
}

.formContainer h3 {
    font: normal 20px Open Sans;
    color: rgba(0, 0, 0, 0.67);
}

.formContainer p {
    font: normal 16px Open Sans;
    color: rgba(0, 0, 0, 0.67);
    margin-bottom: 24px;
}

.formContainer form input {
    width: 390px;
    height: 60px;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #222;
    outline: none;
    color: #000;
    margin-bottom: 48px;
}

.formContainer form input::placeholder {
    font: normal 22px Open Sans;
    color: rgba(0, 0, 0, 0.87);
}

.formContainer button {
    width: 200px;
    height: 49px;
    background: rgba(0, 0, 0, 0.87);
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    font: bold 16px Open Sans;
    color: #FFFFFF;
    margin-bottom: 243px;
    transition: opacity 0.3s;
}

.formContainer button:hover {
    opacity: 0.6;
}

.footerContainer {
    position: absolute;
    width: 1440px;
    height: 370px;
    left: 0px;
    background: rgba(0, 0, 0, 0.87);
}

.footerContentAreaContainer {
    width: 80%;
    margin: auto;
    padding-top: 80px;
}

.footerContentAreaContainer p {
    font: normal 14px Open Sans;
    color: #FFFFFF;
    margin-top: 40px;
}

.footerInformationsContainer {
    display: flex;
}

.footerDescriptionContainer img {
    width: 138px;
    color: #FFF;
}

.footerDescriptionContainer p {
    /* The wise man therefo */
    width: 654px;
    font: normal 18px Open Sans;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 25px;
    margin-right: 120px;
}

.footerContactContainer h2 {
    width: 85px;
    height: 30px;
    font: bold 20px Open Sans;
    color: rgba(255, 255, 255, 0.87);
    margin-bottom: 35px;
}

.footerContactInformationContainer {
    display: flex;
    width: 220px;
    margin-bottom: 10px;
}

.footerContactInformationContainer img {
    width: 20px;
    margin-right: 10px;
}

.footerContactInformationContainer h4 {
    font: normal 18px Open Sans;
    color: rgba(255, 255, 255, 0.67);
}