@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes transformLeft {
    from {
        transform: translateX(-20px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes transformRight {
    from {
        transform: translateX(20px);
    }
    to {
        transform: translateX(0px);
    }
}

#landingContainer {
    height: 100vh;
    padding-top: 32px;
}

.topContainer img {
    width: 216px;
    height: 72px;
}

.welcomeContainer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title hero";
    animation: fadeIn 2s;
}

.welcomeTextContainer {
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    animation: transformLeft 1s;
}

.welcomeTitleContainer h1 {
    width: 416px;
    height: 200px;
    font: 800 64px Open Sans;
    line-height: 64px;
    color: rgba(0, 0, 0, 0.87);
}

.welcomeTitleContainer p {
    width: 396px;
    height: 80px;
    font: 20px Open Sans;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.67);
}

.welcomeTextContainer button {
    width: 350px;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.87);
    border-radius: 60px;
    border: none;
    font: bold 24px Open Sans;
    color: #FFFFFF;
    outline: none;
    cursor: pointer;
    transition: opacity 0.3s;
    transition: transform 0.3s;
}

.welcomeContainer button:hover {
    opacity: 0.8;
    transform: translateY(-10px);
}

.welcomeHeroContainer {
    grid-area: hero;
    animation: transformRight 1s;
}

.welcomeHeroContainer img {
    height: 550px;
}

.featureContainer h1 {
    width: 654px;
    font: 800 46px Open Sans;
    line-height: 46px;
    color: rgba(0, 0, 0, 0.87);
    padding-top: 48px;
}

.featureContainer p {
    width: 528px;
    height: 30px;
    font: normal 20px Open Sans;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.67);
    padding-top: 10px;
}

.featureItemsContainer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "feature_01 feature_02 feature_03 feature_04";
    padding-top: 32px;
}

.featureItemContainer:nth-child(1) {
    grid-area: feature_01;
}

.featureItemContainer:nth-child(2) {
    grid-area: feature_02;
}

.featureItemContainer:nth-child(3) {
    grid-area: feature_03;
}

.featureItemContainer:nth-child(4) {
    grid-area: feature_04;
}

.featureItemContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 264px;
    height: 170px;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    transition: transform 0.3s;
}

.featureItemContainer:hover {
    transform: translateY(-10px);
}

.featureItemTextContainer {
    width: 224px;
    height: 122px;
}

.featureItemContainer h1 {
    font: bold 18px Open Sans;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.87);
}

.featureItemContainer p {
    width: 216px;
    font: normal 16px Open Sans;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.67);
}

.testDriveContainer {
    width: 100%;
    height: 128px;
    background: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.12);
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 48px;
    margin-top: 64px;
}

.testDriveContainer h1 {
    font: 800 46px Open Sans;
    color: rgba(255, 255, 255, 0.87);
    padding-top: 0px;
}

.testDriveButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 208px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 40px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.testDriveButtonContainer:hover {
    opacity: 0.6;
}

.testDriveButtonContainer h4 {
    font: bold 16px Open Sans;
    color: rgba(0, 0, 0, 0.87);
}

.marketValueContainer {
    margin-top: 64px;
}

.marketValueContainer h1 {
    width: 450px;
    height: 56px;
    font: 800 46px Open Sans;
    color: rgba(0, 0, 0, 0.87);
}

.marketValueItemsContainer {
    padding-top: 24px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "item_01 item_02 item_03" "item_04 item_05 item_06";
    row-gap: 20px;
}

.marketValueItemsContainer:nth-child(1) {
    grid-area: item_01;
}

.marketValueItemsContainer:nth-child(2) {
    grid-area: item_02;
}

.marketValueItemsContainer:nth-child(3) {
    grid-area: item_03;
}

.marketValueItemsContainer:nth-child(4) {
    grid-area: item_04;
}

.marketValueItemsContainer:nth-child(5) {
    grid-area: item_05
}

.marketValueItemsContainer:nth-child(6) {
    grid-area: item_06
}

.marketValueItemTitleContainer {
    display: flex;
    align-items: center;
}

.marketValueItemTitleContainer h3 {
    font: bold 22px Open Sans;
    line-height: 33px;
    color: rgba(0, 0, 0, 0.87);
    padding-left: 8px;
}

.marketValueItemContainer p {
    width: 322px;
    font: 400 18px Open Sans;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.67);
    padding-top: 12px;
}

.howItWorksContainer {
    position: absolute;
    left: 0px;
    width: 100vw;
    height: 414px;
    background: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.12);
    margin-top: 64px;
}

.howItWorksContainer h1 {
    font: 800 46px Open Sans;
    color: #FFFFFF;
    width: 80%;
    margin: auto;
    padding-top: 48px;
    padding-bottom: 31px;
}

.howItWorksItemsContainer {
    display: flex;
    align-self: center;
    justify-content: center;
}

.howItWorksItemContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 222px;
}

.howItWorksItemContainer img {
    width: 98px;
    height: 98px;
}

.howItWorksItemContainer h5 {
    font: 800 16px Open Sans;
    display: flex;
    color: #BDBDBD;
}

.howItWorksItemContainer h4 {
    font: bold 24px Open Sans;
    color: #FFFFFF;
}

.howItWorksItemContainer p {
    width: 230px;
    font: normal 16px Open Sans;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.plansContainer {
    margin-top: calc(466px + 70px);
    margin-bottom: 72px;
}

.plansContainer h1 {
    font: 800 46px Open Sans;
    color: rgba(0, 0, 0, 0.87);
}

.plansItemsContainer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "item_01 item_02 item_03";
    padding-top: 16px;
}

.plansItemsContainer:nth-child(1) {
    grid-area: item_01;
}

.plansItemsContainer:nth-child(2) {
    grid-area: item_02;
}

.plansItemsContainer:nth-child(3) {
    grid-area: item_03;
}

.plansItemContainer {
    width: 352px;
    height: 352px;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: transform 0.3s;
}

.plansItemContainer:hover {
    transform: translateY(-10px);
}

.plansContentAreaContainer {
    height: 272px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.plansContentAreaContainer p {
    font: 600 20px Open Sans;
    color: #EB5757;
}

.plansItemTextContainer {
    height: 168px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.plansItemTextContainer h2 {
    font: bold 36px Open Sans;
    color: rgba(0, 0, 0, 0.87);
}

.plansItemTextContainer p {
    font: 600 24px Open Sans;
    color: rgba(0, 0, 0, 0.67);
}

.plansItemTextContainer h1 {
    font: bold 48px Open Sans;
    color: rgba(0, 0, 0, 0.87);
}

.plansItemContainer button {
    width: 272px;
    height: 48px;
    background: #000000;
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    font: bold 16px Open Sans;
    color: #FFFFFF;
    transition: opacity 0.3s;
}

.plansItemContainer button:hover {
    opacity: 0.6;
}

.footerContainer {
    position: absolute;
    width: 100%;
    height: 490px;
    left: 0px;
    background: rgba(0, 0, 0, 0.87);
}

.footerContentAreaContainer {
    width: 80%;
    margin: auto;
    padding-top: 80px;
}

.footerContentAreaContainer p {
    font: normal 14px Open Sans;
    color: #FFFFFF;
    margin-top: 40px;
}

.footerEmailSenderContainer {
    display: flex;
    align-items: center;
    justify-self: center;
}

.footerEmailSenderContainer h2 {
    width: 295px;
    background: transparent;
    color: #FFF;
    font: bold 22px Open Sans;
    color: rgba(255, 255, 255, 1);
    margin-left: 21px;
}

.footerEmailSenderContainer form img {
    padding-right: 21px;
}

.footerEmailSenderContainer button {
    width: 212px;
    height: 50px;
    border: 3px solid #FFFFFF;
    border-radius: 40px;
    background-color: transparent;
    font: bold 16px Open Sans;
    color: #FFFFFF;
    outline: none;
    cursor: pointer;
    margin-left: 30px;
    transition: opacity 0.3s;
}

.footerEmailSenderContainer button:hover {
    opacity: 0.6;
}

.footerEmailLabel {
    display: flex;
    align-items: center;
    justify-self: center;
}

.footerInformationsContainer {
    display: flex;
    margin-top: 60px;
    width: 100%;
}

.footerDescriptionContainer img {
    width: 138px;
    color: #FFF;
}

.footerDescriptionContainer p {
    /* width: 654px; */
    font: normal 18px Open Sans;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 25px;
    margin-right: 120px;
}

.footerContactContainer h2 {
    width: 85px;
    height: 30px;
    font: bold 20px Open Sans;
    color: rgba(255, 255, 255, 0.87);
    margin-bottom: 35px;
}

.footerContactInformationContainer {
    display: flex;
    width: 220px;
    margin-bottom: 10px;
}

.footerContactInformationContainer img {
    width: 20px;
    margin-right: 10px;
}

.footerContactInformationContainer h4 {
    font: normal 18px Open Sans;
    color: rgba(255, 255, 255, 0.67);
}

@media(max-width:1350px) {
    .welcomeHeroContainer img {
        width: 450px;
    }
    .featureItemsContainer {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "feature_01 feature_02 feature_03" "feature_04 . .";
        row-gap: 20px;
    }
    .testDriveContainer {
        width: 100%;
    }
    .marketValueItemsContainer {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "item_01 item_02" "item_03 item_04" "item_05 item_06";
    }
    .howItWorksItemsContainer {
        transform: scale(0.8);
    }
    .plansItemContainer {
        width: 300px;
        height: 300px;
    }
    .plansContentAreaContainer {
        height: 240px;
    }
    .plansContentAreaContainer p {
        font-size: 17px;
    }
    .plansItemTextContainer h2 {
        font-size: 33px;
    }
    .plansItemTextContainer p {
        font-size: 21px;
    }
    .plansItemTextContainer h1 {
        font-size: 44px;
    }
    .plansItemContainer button {
        width: 222px;
        height: 40px;
        font: bold 15px Open Sans;
    }
    .footerDescriptionContainer p {
        font-size: 15px;
    }
}

@media(max-width:768px) {
    .welcomeContainer {
        align-self: center;
        justify-content: center;
    }
    .welcomeTextContainer {
        height: 400px;
    }
    .welcomeHeroContainer img {
        display: none;
    }
    .featureItemsContainer {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "feature_01 feature_02" "feature_03 feature_04";
    }
    .testDriveContainer h1 {
        font: 800 34px Open Sans;
    }
    .marketValueItemsContainer {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "item_01 item_02" "item_03 item_04" "item_05 item_06";
    }
    .howItWorksItemsContainer {
        transform: scale(0.6);
    }
    .plansItemsContainer {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "item_01 item_02" "item_03 .";
        row-gap: 25px
    }
    .footerDescriptionContainer p {
        font-size: 12px;
        line-height: 20px;
    }
}

@media(max-width:425px) {
    .topContainer img {
        width: 124px;
        height: 40px;
    }
    .welcomeTextContainer {
        height: 312px;
        display: flex;
        align-items: center;
    }
    .welcomeTitleContainer h1 {
        width: 312px;
        height: 128px;
        font-size: 36px;
        line-height: 41px;
    }
    .welcomeTitleContainer p {
        width: 312px;
        height: 64px;
        font-size: 16px;
        line-height: 22px;
    }
    .welcomeTextContainer button {
        height: 48px;
        width: 100%;
        font-size: 16px;
        line-height: 33px;
    }
    .featureContainer h1 {
        font: 800 26px Open Sans;
        line-height: 28px;
        width: 312px;
    }
    .featureContainer p:first-of-type {
        line-height: 22px;
        font: normal 16px Open Sans;
    }
    .featureItemsContainer {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "feature_01" "feature_02" "feature_03" "feature_04";
        justify-items: center;
    }
    .testDriveContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 312px;
        height: 209px;
    }
    .testDriveContainer h1 {
        font: 800 41px Open Sans;
        line-height: 44px;
        width: 264px;
        padding-bottom: 24px;
    }
    .testDriveButtonContainer {
        width: 264px;
    }
    .marketValueItemsContainer {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas: "item_01" "item_02" "item_03" "item_04" "item_05" "item_06";
    }
    .marketValueContainer h1 {
        font: 800 30px Open Sans;
        line-height: 44px;
        width: 312px;
    }
    .marketValueItemContainer h3 {
        width: 312px;
    }
    .marketValueItemContainer p {
        font-size: 16px;
        width: 312px;
    }
    .howItWorksContainer {
        height: 1128px;
    }
    .howItWorksContainer h1 {
        font: 800 30px Open Sans;
        line-height: 44px;
        width: 312px;
        padding-bottom: 26px;
        margin-left: 24px;
    }
    .howItWorksItemsContainer {
        transform: scale(1);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .howItWorksItemContainer {
        height: 222px;
        margin-bottom: 32px;
    }
    .howItWorksItemContainer p {
        width: 224px;
    }
    .howItWorksArrow {
        display: none;
    }
    .plansContainer {
        margin-top: calc(1200px + 40px);
        margin-bottom: 72px;
    }
    .plansContainer h1 {
        font-size: 30px;
    }
    .plansItemsContainer {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas: "item_01" "item_02" "item_03";
        row-gap: 25px;
        justify-items: center;
    }
    .plansItemContainer {
        width: 260px;
    }
    .footerContainer {
        height: 650px;
    }
    .footerEmailSenderContainer {
        width: 260px
    }
    .footerEmailSenderContainer button {
        font-size: 12px;
        font-weight: 500;
        height: 40px;
        width: 110px;
        margin-left: 10px;
    }
    .footerEmailLabel h2 {
        font-size: 14px;
        font-weight: 400;
        margin-left: 10px;
        width: 100%;
    }
    .footerInformationsContainer {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        margin-left: 0px;
    }
    .footerDescriptionContainer {
        width: 300px
    }
    .footerDescriptionContainer img {
        width: 138px;
    }
    .footerDescriptionContainer p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin-top: 20px;
        width: 250px
    }
    .footerContactContainer h2 {
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .footerContactInformationContainer h4 {
        font-size: 16px;
    }
}