#landingContainer {
    padding-top: 32px;
    height: 100vh;
}

.topContainer img {
    width: 216px;
    height: 72px;
}

.mainContent {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title hero";
    padding-top: 0px;
}

.mainTextContainer {
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: red; */
}

.titleContainer h1 {
    width: 416px;
    height: 200px;
    font: 800 64px Open Sans;
    line-height: 64px;
    color: rgba(0, 0, 0, 0.87);
}

.titleContainer p {
    width: 396px;
    height: 80px;
    font: 20px Open Sans;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.67);
}

.mainTextContainer button {
    width: 350px;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.87);
    border-radius: 60px;
    border: none;
    font: bold 24px Open Sans;
    color: #FFFFFF;
    outline: none;
    cursor: pointer;
    transition: opacity 0.3s;
}

.mainContent button:hover {
    opacity: 0.6;
}

.heroContainer {
    grid-area: hero;
}

.heroContainer img {
    height: 550px;
}