#landingContainer {
    padding-top: 32px;
    height: 100vh;
}

.topContainer img {
    width: 216px;
    height: 72px;
}

.welcomeContainer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title hero";
    padding-top: 0px;
}

.welcomeTextContainer {
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: red; */
}

.welcomeTitleContainer h1 {
    width: 416px;
    height: 200px;
    font: 800 64px Open Sans;
    line-height: 64px;
    color: rgba(0, 0, 0, 0.87);
}

.welcomeTitleContainer p {
    width: 396px;
    height: 80px;
    font: 20px Open Sans;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.67);
}

.welcomeTextContainer button {
    width: 350px;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.87);
    border-radius: 60px;
    border: none;
    font: bold 24px Open Sans;
    color: #FFFFFF;
    outline: none;
    cursor: pointer;
    transition: opacity 0.3s;
}

.welcomeContainer button:hover {
    opacity: 0.6;
}

.welcomeHeroContainer {
    grid-area: hero;
}

.welcomeHeroContainer img {
    height: 550px;
}

.featureContainer h1 {
    padding-top: 48px;
    width: 654px;
    font: 800 46px Open Sans;
    line-height: 46px;
    color: rgba(0, 0, 0, 0.87);
}

.featureContainer p {
    padding-top: 10px;
    width: 528px;
    height: 30px;
    font: normal 20px Open Sans;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.67);
}

.featureItemsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 22px;
}

.featureItemContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: 264px;
    height: 170px;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.featureItemTextContainer {
    width: 224px;
    height: 122px;
}

.featureItemContainer h1 {
    font: bold 18px Open Sans;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.87);
}

.featureItemContainer p {
    width: 216px;
    font: normal 16px Open Sans;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.67);
}